{% extends "layout.html" %}

{% block title %}   
   Tweettt 
{% endblock %}

{% block content %}
    <h1 class = "text-center my-2">Enjoying learning Django through project</h1>

    <a class="btn btn-primary mb-4" href ="{% url 'tweet_create' %}">New Tweet</a>
    <div class="row">
    {% for tweet in tweets %} 
    <div class="card mx-2" style="width: 18rem;">
        <img src="{{ tweet.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ tweet.user.username }}</h5>
          <p class="card-text">{{ tweet.text }}</p>
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit Text</a>
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}
